<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <title>{{channel}}'s Like Ranking</title>
    </head>

    <body>
        <h1 style="color:{{font_color}};">{{channel}}'s Top {{list_size}} likers</h1>
        <span id="like_ranking" style="color:{{font_color}}; font-size:{{font_size}}px;"></span>
        <script type="text/javascript">
            var like_ranking = document.getElementById("like_ranking");

            function updater() {
              fetch('/data')
              .then(response => response.text())
              .then(text => (like_ranking.innerHTML = text));
            }

            setInterval(updater, 1000);
        </script>
    </body>
</html>